fastapi
uvicorn
python-multipart
aiofiles

torch==2.1.2
torchvision==0.16.2

diffusers
transformers
accelerate
safetensors
xformers

TTS>=0.12.0
gTTS
ffmpeg-python

google-auth
google-auth-oauthlib
google-api-python-client
