gunicorn
uvicorn
asgiref
requests
python-multipart
flask
redis
rq
aiofiles
diffusers
transformers
accelerate
safetensors
xformers
TTS
gTTS
ffmpeg-python
google-auth
google-auth-oauthlib
google-api-python-client
torch==2.9.1
torchvision==0.24.1

